.chap {
  background-color: rgb(210, 226, 226);
  padding: 10px;
  margin-top: 5px;
}

.Dashboard {
  position: relative;
  margin-top: 7rem;
}

.Dashboard .btn {
  background: #30475e !important;
  color: #f05454 !important;
  margin-left: 0 !important;
  /* padding: 1em 1.5em 1em 1.5em; */
}

.Dashboard .name {
  /* margin-right: 2em; */
  float: left;
  margin-left: 2em;
}

.Dashboard .value {
  float: right;
}

/* .Dashboard .collapse {
  justify-content: space-around;
} */

.Dashboard span:focus {
  outline: none;
  padding: 1em 5em;
  border: 2px dashed #522546;
  /* border-color: #522546!important; */
}

.Dashboard .grey_bg {
  background-color: #e8e8e8;
}
