.ProfileHeader .main-section {
  margin-top: 6rem;
  /* border: 1px solid #311d3f; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.ProfileHeader .profile-header {
  background-color: #f05454;
  height: 150px;
}
.ProfileHeader .user-detail {
  margin: -50px 0px 30px 0px;
  margin-top: -4rem !important;
}
.ProfileHeader .user-detail .img-thumbnail {
  height: 100px;
  width: 100px;
}
.ProfileHeader .user-detail h5 {
  margin: 15px 0px 5px 0px;
}
.ProfileHeader .user-social-detail {
  padding: 15px 0px;
  background-color: #311d3f;
}
.ProfileHeader .user-social-detail a i {
  color: #fff;
  font-size: 23px;
  padding: 0px 5px;
}
.ProfileHeader .btn {
  background-color: #30475e;
  color: #e8e8e8;
}
.ProfileHeader .btn:hover {
  color: #fcf8f8;
}
.ProfileHeader .social {
  /* position: absolute;
    bottom: 0; */
  float: right;
  position: relative;
  padding-top: 5rem !important;
  /* margin-top: 7.5rem; */
}
.ProfileHeader .social a {
  padding-left: 15px;
  color: #311d3f !important;
  z-index: 1999;
}

/* .social i {
    margin-top: 7.5rem;
  } */

.ProfileHeader .social a:hover {
  color: #88304e;
}

.ProfileHeader strong {
  font-weight: 900;
}

.ProfileHeader .bookholder img {
  height: 12rem;
}
