.Library {
  margin-top: 5.5rem;
}

.Library .behind {
  margin-top: 3rem;
  height: 25rem;
  width: 25rem;
  margin-right: 10px;
  margin-left: -10px;
}

.Library .title {
  color: #30475e;
}

.Library .removeFromLib {
  position: absolute;
  top: 0;
  right: 1em;
}

.Library .author:hover {
  cursor: pointer;
  background-color: #222831a4;
}
