.fash-bottom {
  /* -moz-border-image: -moz-linear-gradient(
    to left,
    #79cc9e 0%,
    #beedec 25%,
    #c5ceff 50%,
    #cabd96 75%,
    #b591c7 100%
  );
  -webkit-border-image: -webkit-linear-gradient(
    to left,
    #79cc9e 0%,
    #beedec 25%,
    #c5ceff 50%,
    #cabd96 75%,
    #b591c7 100%
  ); */
  /* background: linear-gradient(
    to left,
    #79cc9e 0%,
    #beedec 25%,
    #c5ceff 50%,
    #cabd96 75%,
    #b591c7 100%
  ); */
  /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  backdrop-filter: grayscale(21px);
  /* border-image-slice: 1; */
  position: sticky;
  top: 0;
  padding: 60px;
  /* top: 0; */
}

.fash-bottom .coll,
.fash-bottom .bname {
  display: inline-block;
}

#bar {
  position: absolute;
}
/* .read {
  display: inline;
} */
