.editor {
  border: solid 1px #ccc;
  padding: 18rem;
  height: 100%;
  /**min-height:200px;**/
}

.sample-toolbar {
  border: solid 1px #ddd;
  background: #f4f4f4;
  padding: 5px;
  border-radius: 3px;
}

.sample-toolbar > span {
  cursor: pointer;
}

.sample-toolbar > span:hover {
  text-decoration: underline;
}
.fa {
  color: black;
}

.sidebar {
  /* width: 20%; */
  /* margin-left: 5rem; */
  height: 100%;
  margin-top: "20rem";
  font-size: 15px;
  /* padding-bottom: 30rem; */
}

.content {
  width: calc(100% - 330px);
  height: 100vh;
  position: fixed;
  margin-left: 11rem;
  background: rgb(255, 255, 255);
  overflow: scroll;
  /* position: fixed; */
  /* margin-left: 10rem; */
}

.content::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.747); /* color of the tracking area */
}
.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.432); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* .content:child {
  margin-left: 10rem;
} */

.full {
  margin-left: 2rem;
}

.blur {
  backdrop-filter: blur(20px);
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.over {
  display: block;
  opacity: 1;
}
