.Result {
  margin-top: 10em;
}

/* .Result .showBooks{
    width: ; */
/* } */

.Result .profile-img {
  width: 17%;
  /* height: 10em; */
}

/* .Result .check {
  display: inline;
} */

.Result .profile {
  background-color: #ffff;
  color: rgb(20, 20, 20);
}

.Result .profile:hover {
  cursor: pointer;
}

.Result .header {
  color: #30475e;
  font-weight: bold;
}

/* .Result .profiles {
  margin-top: 4em;
} */
